* {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
}

body {
	background: #ebf0f2;
}

.index_container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	min-width: 320px;
	max-width: 640px;
}

h1.login_header {
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	padding: 0; margin: 0;
}

h1.login_header img {
	width: 100%;
}

.login_infofield, .login_submitfield {
	padding: 16px;
	border: 1px solid #dde0e8;
}

.login_infofield .design_wrapper, .login_submitfield .design_wrapper {
	width: 80%;
	margin: 14px auto;
}

.login_infofield {
	background: #fff;
}

.login_infofield .design_wrapper p.errormsg {
	color: #d9534f;
	text-align: center;
}

.login_infofield .design_wrapper input {
	width: 100%;
	padding: 10px;
	margin: 12px 0;
}

.login_infofield .design_wrapper label {
	line-height: 20px;
	color: #444444;
}

.login_submitfield {
	background: #f1f6f7;
	max-height: 100px;
	border-top: none;
	}

.login_submitfield  a.forget {
	color: #aaaaaa;
	font-size: 12px;
}

.login_submitfield a:hover {
	color: #444;
}

.floatright {
	float: right;
}

.floatright:after {
	content: ' ';
	clear: right;
}


h1 {
	font-size: 1.83em;
	padding-top: 10px;
	padding-bottom: 5px;
}

section.content {
	font-size: 0.95em; line-height: 1.6em;
}

section.content ul li {
	list-style-type: disc;
    box-sizing: border-box;
}

/* emoji size fix */
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

/* Home interface css */

.home_header {
	background: #497089 url(/static/img/home_header.jpg) no-repeat 50%;
	height: 400px;
    background-size: cover;
}

.home_header ul.notification {
	padding: 0;
}

.home_header ul.notification li {
	display: inline-block;
    padding-right: 6px;
    font-size: 0.9em;
}