* {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
}

body {
	background: #ebf0f2;
	margin: 0;
}

.index_container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	min-width: 320px;
	max-width: 640px;
}

h1.login_header {
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	padding: 0; margin: 0;
}

h1.login_header img {
	width: 100%;
}

.login_infofield, .login_submitfield {
	padding: 16px;
	border: 1px solid #dde0e8;
}

.login_infofield .design_wrapper, .login_submitfield .design_wrapper {
	width: 80%;
	margin: 14px auto;
}

.login_infofield {
	background: #fff;
}

.login_infofield .design_wrapper p.errormsg {
	color: #d9534f;
	text-align: center;
}

.login_infofield .design_wrapper input {
	width: 100%;
	padding: 10px;
	margin: 12px 0;
}

.login_infofield .design_wrapper label {
	line-height: 20px;
	color: #444444;
}

.login_submitfield {
	background: #f1f6f7;
	max-height: 100px;
	border-top: none;
	}

.login_submitfield  a.forget {
	color: #aaaaaa;
	font-size: 12px;
}

.login_submitfield a:hover {
	color: #444;
}

.floatright {
	float: right;
}

.floatright:after {
	content: ' ';
	clear: right;
}


h1 {
	font-size: 1.83em;
	padding-top: 10px;
	padding-bottom: 5px;
}

section.content {
	font-size: 0.95em; line-height: 1.6em;
}

section.content ul li {
	list-style-type: disc;
	box-sizing: border-box;
}

/* emoji size fix */
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

/* Home interface css */

.home_header {
	background: #497089 url(/static/img/home_header.jpg) no-repeat 50%;
	height: 400px;
	background-size: cover;
	color: #fff;
	padding: 0;
}

.home_header .heading-content {
	padding: 10% 30%;
}

.home_header ul.notification {
	padding: 0;
}

.home_header ul.notification li {
	display: inline-block;
	padding-right: 6px;
	font-size: 1em;
}

.home_header a {
	color: #fff;
	text-decoration: none;
}

.home_header a:hover {
	text-decoration: underline;
}

div.sp_content {
	padding: 16px;
	margin: 30px;
	background: #fff;
    border-radius: 6px;
}

div.operation {
	padding: 16px;
    background: #f1f6f7;
    border: 1px solid #dde0e8;
}

div.operation li {
    display: inline-block;
    padding-right: 12px;
}

div.operation li:last {
    padding-right: 0;
}

.operation li a {
    color: #444;
    text-decoration: none;
    font-size: .8em;
}

.operation li a:hover {
    color: #222;
}

section.content_form form li {
	display: inline-block;
	margin: 10px 0;
}

section.content_form form li label {
	margin-right: 6px;
    padding-right: 8px;
    font-size: .7em;
    font-weight: bold;
    border-right: 1px solid #666;
}
/*    padding: 10px 15%;  */

ul.errorlist {
	position: absolute;
	padding: 0;
	margin-top: 24px;
	font-size: 0.7em;
	color: #f00;
}
/* nav bar

    padding: 10px;
    border: 1px solid #fff;
    background: #fff;
    color: #487089;
    border-radius: 6px;
    

*/

/* CSS nagivation bar */
/*
nav.topnav ul ul {
	display: none;
}

nav.topnav ul li:hover > ul {
	display: block;
}

nav.topnav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
nav.topnav ul:after {
	content: ""; clear: both; display: block;
}

nav.topnav ul li {
	float: left;
}
nav.topnav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav.topnav ul li:hover a {
	color: #fff;
}
	
nav.topnav ul li a {
	display: block; padding: 25px 40px;
	color: #757575; text-decoration: none;
}

nav.topnav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
nav.topnav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
nav.topnav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav.topnav ul ul li a:hover {
	background: #4b545f;
}

nav.topnav ul ul ul {
	position: absolute; left: 100%; top:0;
}*/

nav.topnav
{
    /* container */
}
    nav.topnav > a
    {
        display: none;
    }
    nav.topnav li
    {
        position: relative;
    }
 
    /* first level */
 
    nav.topnav > ul
    {
        height: 3.75em;
    }
        nav.topnav > ul > li
        {
            width: 25%;
            height: 100%;
            float: left;
        }
 
    /* second level */
 
    nav.topnav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
    }
        nav.topnav li:hover ul
        {
            display: block;
        }