* {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1em;
}

body {
	background: #ebf0f2;
}

.login_header {
	text-align: center;
}

.login_infofield, .login_submitfield {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	line-height: 20px;
	min-width: 400px;

	border: 1px solid #dde0e8;
}

.login_infofield .design_wrapper, .login_submitfield .design_wrapper {
	width: 80%;
	margin: 14px auto;
}

.login_infofield {
	background: #fff;
}

.login_infofield .design_wrapper input {
	width: 100%;
	padding: 10px;
	margin: 12px 0;
}

.login_infofield .design_wrapper label {
	line-height: 20px;
	color: #444444;
}

.login_submitfield {
	background: #f1f6f7;
	max-height: 100px;
	border-top: none;
	}

.login_submitfield  a.forget {
	color: #aaaaaa;
	font-size: 12px;
}

.login_submitfield a:hover {
	color: #444;
}

.floatright {
	float: right;
}

.floatright:after {
	content: ' ';
	clear: right;
}


h1 {
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 5px;
}