* {
	font-family: 'Open Sans', sans-serif; 
	font-size: 14px;
}

body {
	background: #ebf0f2;
}

.loginbox {
	border: 1px #dde0e8 solid;
	border-radius: 10px;
	padding: 10px;
	background: #fff;

	min-height: 280px;
}

.loginbox p {
	color: #444444;
}

.loginbox a {
	color: #aaaaaa;
}

.loginbox .bottomfield {
	background: #f1f6f7;
}

h1 {
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 5px;
}