{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if template_title %}{{ template_title }}{% else %}SchoolPro{% endif %}</title>

    <!-- Google Open Sans Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <!-- JQuery plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Twemoji emoji plugin -->
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script>

    <!-- Twemoji emoji plugin -->
    <script src="{% static "js/sweetalert.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/sweetalert.css" %}">

    <!-- Javascript -->
    <script src="{% static "js/jq_script.js" %}"></script>

    <!-- CSS stylesheet -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>