{% extends "base.html" %}{% load staticfiles %}
{% block content %}
<header class="home_header">
	{% if topnav %}<nav class="topnav">
		{% for nav_item in topnav %}
		<ul>
			<li>
			<a href="{% url nav_item.url_route %}">{{ nav_item.title }}{% if nav_item.sub_menu %}+{% endif %}</a>
			{% if nav_item.sub_menu %}<ul>
				{% for nav_subitem in nav_item.sub_menu %}<li><a href="{% url nav_subitem.url_route %}">{{ nav_subitem.title }}</a></li>{% endfor %}
			</ul>{% endif %}</li>
		</ul>
		{% endfor %}
	</nav>{% endif %}
	<div class="heading-content">
		<h1 class="page-header">{{ page_header }}</h1>
		{% if template == 'home' or template == 'list' or template == 'form' or template == 'detail'  %}
		<ul class="notification">

		{% if content.notification.current_date %}
			<li class="date">{{ content.notification.current_date }}</li>
		{% endif %}

		{% if content.notification.inbox %}{% if content.notification.inbox > 0 %}
			<li class="recent_inbox"><span class="inbox_emoji">&nbsp;</span><a href="{% url 'inbox:inbox' %}">{{ content.notification.inbox }} unread message{% if content.notification.inbox > 1 %}s{% endif %}</a></li>
		{% endif %}{% endif %}

		{% if content.notification.classroom %}{% if content.notification.classroom > 0 %}
			<li class="active_classroom"><span class="classroom_emoji">&nbsp;</span><a href="{% url 'classroom:classroom_list' %}">{{ content.notification.classroom }} classroom{% if content.notification.classroom > 1 %}s{% endif %}</a></li>
		{% endif %}{% endif %}

			<li class='logout'><a href="{% url 'user:logout' %}">Logout</a></li>
		</ul>
		{% endif %}
	</div>
</header>

<div class="sp_content">
{% if template == "form" %}
	<section class="content_form">
		{% if content.route_parameter %}
		<form action="{% url content.submit_url content.route_parameter %}" method="post">
		{% else %}
		<form action="{% url content.submit_url %}" method="post">
		{% endif %}
			{% csrf_token %}
			{{ content.form }}
			<input type="submit" name="Submit">
		</form>
	</section>
{% endif %}

{% if template == "list" %}
	<section class="info_list"><form>{% csrf_token %}
	{% if content.operation %}
		<div class="operation">
		{% for list_item in content.operation %}
			<li><a href="{% if list_item.url_para %}{% url list_item.url list_item.url_para %}{% else %}{% url list_item.url %}{% endif %}" class="{{ list_item.html_class }}">{{ list_item.title }}</a></li>
		{% endfor %}
		</div>
	{% endif %}
	{% if content.list.name == 'inbox' %}
		<div class="list_table">
			
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>Read</td>
						<td>Title</td>
						<td>Sender</td>
						<td>Date</td>
					<tr>
				<tbody>
					<tr>
					{% for msg in content.list.body %}
						<td><input type="checkbox" name="msg_action" value="{{ msg.pk }}"></td>
						<td><span class="{% if msg.read %}read{% else %}unread{% endif %}"></span></td>
						<td><a href="{% url 'inbox:view' msg.pk %}">{{ msg.content.title }}</a></td>
						<td>{{ msg.sender.username }}</td>
						<td>{{ msg.send_datetime }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		<div class="adv_operation"></div>
	{% endif %}

	{% if content.list.name == 'user' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>username</td>
						<td>First name</td>
						<td>Last name</td>
						<td>Role</td>
						<td>Last login</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><input type="checkbox" name="user_action" value="{{ data.pk }}"></td>
						<td><a href="{% url 'user:view_user' data.username %}">{{ data.username }}</a></td>
						<td>{{ data.firstname }}</td>
						<td>{{ data.lastname }}</td>
						<td>{{ data.role.name }}</td>
						<td>{{ data.last_logged }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		<div class="adv_operation"></div>
	{% endif %}

	{% if content.list.name == 'booking' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Book Date</td>
						<td>Location</td>
						<td>Start period</td>
						<td>End period</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td>{{ data.book_date }}</td>
						<td>{{ data.facility }}</td>
						<td>{{ data.start_lesson }}</td>
						<td>{{ data.end_lesson }}</td>
						<td><li><a href="{% url 'booking:delete' data.pk %}">Delete booking</a></li><li><a href="#">Send inbox message to user...</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		<div class="adv_operation"></div>
	{% endif %}	

	{% if content.list.name == 'facilities' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>Facility</td>
						<td>Floor</td>
						<td>Location</td>
						<td>Availability</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><input type="checkbox" name="facilities_action" value="{{ data.pk }}"></td>
						<td>{{ data.name }}</td>
						<td>{{ data.room.floor }}/F</td>
						<td>Room {{ data.room.plate_name }}</td>
						<td>{% if data.room.available %}<span class='facilities_available'>available</span>{% else %}<span class='facilities_unavailable'>unavailable</span>{% endif %}</td>
						<td><li><a href="{% url 'facilities:modify' data.pk %}">Modify facilities</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		<div class="adv_operation"></div>
	{% endif %}

	{% if content.list.name == 'room' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Plate name</td>
						<td>Floor</td>
						<td>Capacity</td>
						<td>Available</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td>{{ data.plate_name }}</td>
						<td>{{ data.floor }}/F</td>
						<td>{{ data.capacity }}/F</td>
						<td>{% if data.available %}<span class='facilities_available'>available</span>{% else %}<span class='facilities_unavailable'>unavailable</span>{% endif %}</td>
						<td><li><a href="#">Remove room</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		<div class="adv_operation"></div>
	{% endif %}



	</form></section>
{% endif %}

{% if template == 'detail' %}
	<section class="info_detail">
	{% if content.detail %}
		{% for value in content.detail %}
			<p>{{ value.0 }}</p>
			<p>{{ value.1 }}</p>
			<p>{{ value.2 }}</p>
			<p>{{ value.3|linebreaks }}</p>
		{% endfor %}
	{% endif %}
	</section>
{% endif %}

{% if template == 'notification' %}
	<section class="notification">
		{% if content.notification %}<h1 class="notification_title">{{ content.notification }}</h1>{% endif %}
		{% if content.auto_redirect %}You will automatically be redirected to <a href="{% url content.redirect_url %}">{{ content.redirect_text }}</a> in 5 seconds...<script>setTimeout('window.location="{% url content.redirect_url %}"', 5000)</script>{% endif %}
	</section>
{% endif %}

{% if template == 'testing' %}<p>{{ page_title }}</p><p>{{ page_header }}</p><p>{{ content }}</p>{% endif %}

{% if template == "calendar" %}
	{% if content.calendar.body %}
		{{ content.calendar.body|safe }}
	{% endif %}
{% endif %}


{% endblock %}</div>