{% extends "base.html" %}{% load staticfiles %}
{% block content %}
<header class="home_header">
	{% if topnav %}<nav id="topnav" role="navigation">
		<a href="#topnav" title="Show navigation">Show navigation</a>
		<a href="#" title="Hide navigation">Hide navigation</a>
		<ul>
			<li class='index_url'><a href="{% url 'index_home' %}">SchoolPro</a></li>
		{% for nav_item in topnav %}
			<li>
			<a href="{% url nav_item.url_route %}">{{ nav_item.title }}{% if nav_item.sub_menu %} &#x25BE; {% endif %}</a>
			{% if nav_item.sub_menu %}<ul>
				{% for nav_subitem in nav_item.sub_menu %}<li><a href="{% url nav_subitem.url_route %}">{{ nav_subitem.title }}</a></li>{% endfor %}
			</ul>{% endif %}</li>
		{% endfor %}
			<li class='index_logout'><a href="{% url 'user:logout' %}">Logout</a></li>
		</ul>
	</nav>{% endif %}
	<div class="heading-content">
		<h1 class="page-header">{{ page_header }}</h1>
		{% if template == 'home' or template == 'list' or template == 'form' or template == 'detail' or template == 'classroom'  %}
		<ul class="notification">

		{% if content.notification.current_date %}
			<li class="date">{{ content.notification.current_date }}</li>
		{% endif %}

		{% if content.notification.inbox %}{% if content.notification.inbox > 0 %}
			<li class="recent_inbox"><span class="inbox_emoji">&nbsp;</span><a href="{% url 'inbox:inbox' %}">{{ content.notification.inbox }} unread message{% if content.notification.inbox > 1 %}s{% endif %}</a></li>
		{% endif %}{% endif %}

		{% if content.notification.classroom %}{% if content.notification.classroom > 0 %}
			<li class="active_classroom"><span class="classroom_emoji">&nbsp;</span><a href="{% url 'classroom:classroom_list' %}">{{ content.notification.classroom }} classroom{% if content.notification.classroom > 1 %}s{% endif %}</a></li>
		{% endif %}{% endif %}

		{% if content.notification.current_classroom %}
			<li class="current_classroom"><span class="classroom_emoji">&nbsp;</span> Current classroom: <a href="{% url 'classroom:classroom' content.notification.url %}">{{ content.notification.current_classroom }}</a></li>
			<li class="classroom_role"><span class="role_emoji">&nbsp;</span> Your role: {{ content.notification.classroom_role }}</li>
		{% endif %}

		</ul>
		{% endif %}
	</div>
</header>

<div class="sp_content">

{% if template == "home" %}
	{% if content.block1 %}
	<section class="block1 index_block">
		<div>
			<h3>{{ content.block1.title }}</h3>
			<div>
			<p>{{ content.block1.content|safe }}</p>
			</div>
		</div>
	</section>
	{% endif %}
	
	{% if content.block2 %}
	<section class="block2 index_block">
		<div>
			<h3>{{ content.block2.title }}</h3>
			<div>
			<p>You have {{ content.notification.classroom }} classroom.</p>
			<ul>
			{% for c in content.block2.content %}
			<li><a href="{% url 'classroom:classroom' c.classroom.shortcode %}">{{ c.classroom.name }}</a></li>
			{% endfor %}
			</ul>
			</div>
		</div>
	</section>
	{% endif %}
	
	{% if content.block3 %}<section class="block3 index_block">
		<div>
			<h3>{{ content.block3.title }}</h3>
			<div>
			<ul>
			<li><strong>{{ content.block3.content.username }}</strong></li>
			<li>Role: <strong>{{ content.block3.content.role }}</strong></li>
			<li>{{ content.block3.content.lastname }} {{ content.block3.content.firstname }}</li>
			<li>Last logged at {{ content.block3.content.last_logged }}</li>
			<li></li>
			<li><a href="{% url 'user:modify_user' %}">Modify my content</a></li>
			</ul>
			</div>
		</div>
	</section>
	{% endif %}
	<section class="clearfix"></section>
{% endif %}

{% if template == "form" %}
	<section class="content_form">
		{% if content.route_parameter %}
		{% if content.route_parameter2 %}
		<form action="{% url content.submit_url content.route_parameter content.route_parameter2 %}" method="post" enctype="multipart/form-data">
		{% else %}
		<form action="{% url content.submit_url content.route_parameter %}" method="post" enctype="multipart/form-data">
		{% endif %}
		{% else %}
		<form action="{% url content.submit_url %}" method="post" enctype="multipart/form-data">
		{% endif %}
			{% csrf_token %}
			{{ content.form }}
			<input type="submit" name="Submit">
		</form>
	</section>
{% endif %}

{% if template == "list" %}
	<section class="info_list"><form>{% csrf_token %}
	{% if content.operation %}
		<div class="operation">
		{% for list_item in content.operation %}
			<li><a href="{% if list_item.url_para %}{% url list_item.url list_item.url_para %}{% else %}{% url list_item.url %}{% endif %}" class="{{ list_item.html_class }}">{{ list_item.title }}</a></li>
		{% endfor %}
		</div>
	{% endif %}

	{% if content.list.name == 'inbox' %}
		<div class="list_table">
			
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>Read</td>
						<td>Title</td>
						<td>Sender</td>
						<td>Date</td>
					<tr>
				<tbody>
					<tr>
					{% for msg in content.list.body %}
						<td><input type="checkbox" name="msg_action" value="{{ msg.pk }}"></td>
						<td><span class="{% if msg.read %}read{% else %}unread{% endif %}"></span></td>
						<td><a href="{% url 'inbox:view' msg.pk %}">{{ msg.content.title }}</a></td>
						<td>{{ msg.sender.username }}</td>
						<td>{{ msg.send_datetime }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'user' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>username</td>
						<td>First name</td>
						<td>Last name</td>
						<td>Role</td>
						<td>Last login</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><input type="checkbox" name="user_action" value="{{ data.pk }}"></td>
						<td><a href="{% url 'user:view_user' data.username %}">{{ data.username }}</a></td>
						<td>{{ data.firstname }}</td>
						<td>{{ data.lastname }}</td>
						<td>{{ data.role.name }}</td>
						<td>{{ data.last_logged }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'class' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Class name</td>
						<td>Description</td>
						<td>People</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><a href="{% url 'user:modify_class' data.class_name %}">{{ data.class_name }}</a></td>
						<td>{{ data.class_description }}</td>
						<td>{{ data.count }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'class_d' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Operation</td>
						<td>Class number</td>
						<td>Name</td>
						<td>Role</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><a href="{% url 'user:remove_classmember' data.class_code data.user.pk %}">Remove</a></td>
						<td>{% if data.user.role.name == 'teacher' %} -- {% else %}<a href="{% url 'user:modify_classnumber' data.class_code data.user.pk %}">{% if data.class_number == 0 %}Assign class number?{% else %}{{ data.class_number }}{% endif %}</a>{% endif %}</td>
						<td>{{ data.user.lastname }} {{ data.user.firstname }}</td>
						<td>{{ data.user.role.name }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'classm_d' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						{% if content.permission %}<td>Operation</td>{% endif %}
						<td>Name</td>
						<td>Role</td>
						<td>Assigned date</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						{% if content.permission %}<td>{% if data.user.role.name == 'admin' %} {% else %}<a href="{% url 'classroom:remove_cmmember' content.shortcode data.pk %}">Remove</a>{% endif %}</td>{% endif %}
						<td><a href="{% url 'user:view_user' data.user.username  %}">{{ data.user.lastname }} {{ data.user.firstname }}</a></td>
						<td>{{ data.user.role }}</td>
						<td>{{ data.user.assign_date }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'class_add' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>username</td>
						<td>Name</td>
						<td>Role</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><input type="checkbox" name="user_action" value="{{ data.pk }}"></td>
						<td>{{ data.username }}</td>
						<td>{{ data.lastname }} {{ data.firstname }}</td>
						<td>{{ data.role.name }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
		{% if content.list.foot.enable %}
		<input type="submit" value="{{ content.list.foot.submit.title }}" class='bottom_btn'>
		{% endif %}
	{% endif %}

	{% if content.list.name == 'booking' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Book Date</td>
						<td>Location</td>
						<td>Start period</td>
						<td>End period</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td>{{ data.book_date }}</td>
						<td>{{ data.facility }}</td>
						<td>{{ data.start_lesson }}</td>
						<td>{{ data.end_lesson }}</td>
						<td><li><a href="{% url 'booking:delete' data.pk %}">Delete booking</a></li><li><a href="#">Send inbox message to user...</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}	

	{% if content.list.name == 'booking_all' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Book Date</td>
						<td>Location</td>
						<td>Start period</td>
						<td>End period</td>
						<td>By user...</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td>{{ data.book_date }}</td>
						<td>{{ data.facility }}</td>
						<td>{{ data.start_lesson }}</td>
						<td>{{ data.end_lesson }}</td>
						<td>{{ data.user }}</td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}	

	{% if content.list.name == 'facilities' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>Facility</td>
						<td>Floor</td>
						<td>Location</td>
						<td>Availability</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><input type="checkbox" name="facilities_action" value="{{ data.pk }}"></td>
						<td>{{ data.name }}</td>
						<td>{{ data.room.floor }}/F</td>
						<td>Room {{ data.room.plate_name }}</td>
						<td>{% if data.room.available %}<span class='facilities_available'>available</span>{% else %}<span class='facilities_unavailable'>unavailable</span>{% endif %}</td>
						<td><li><a href="{% url 'facilities:modify' data.pk %}">Modify facilities</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'room' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Floor</td>
						<td>Plate name</td>
						<td>Capacity</td>
						<td>Available</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td>{{ data.floor }}/F</td>
						<td>Room {{ data.plate_name }}</td>
						<td>{{ data.capacity }}</td>
						<td>{% if data.available %}<span class='facilities_available'>available</span>{% else %}<span class='facilities_unavailable'>unavailable</span>{% endif %}</td>
						<td><li><a href="{% url 'facilities:remove_room' data.pk %}">Remove room</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>	
	{% endif %}

	{% if content.list.name == 'rule' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Attendance rule</td>
						<td>Priority</td>
						<td>Start time</td>
						<td>End Time</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.name }}</strong></td>
						<td>{{ data.priority }}</td>
						<td>{{ data.start_time }}</td>
						<td>{{ data.end_time }}</td>
						<td><li><a href="{% url 'attendance:edit_rule' data.pk %}">Assign/edit rule to class</a></li><li><a href="{% url 'attendance:remove_rule' data.pk %}">Delete rule</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'classroom' or content.list.name == 'classroom_manage' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Classroom</td>
						<td>Shortcode</td>
						<td>Created by</td>
						<td>Description</td>
						<td>Status</td>
						{% if content.list.name == 'classroom_manage' %}<td>Operation</td>{% endif %}
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><a href="{% url 'classroom:classroom' data.shortcode %}">{{ data.name }}</a></td>
						<td><a href="{% url 'classroom:classroom' data.shortcode %}">#{{ data.shortcode }}</a></td>
						<td>{{ data.creator }}</td>
						<td>{{ data.description }}</td>
						<td>{% if data.status == 'O' %}Open{% else %}Close{% endif %}</td>
						{% if content.list.name == 'classroom_manage' %}<td>
						<li><a href="{% url 'classroom:manage' %}?delete={{ data.shortcode }}">Delete classroom</a></li></td>{% endif %}
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'sitemap' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Title</td>
						<td>Order</td>
						<td>level</td>
						<td>Url route</td>
						<td>Top level</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.title }}</strong></td>
						<td>{{ data.order }}</td>
						<td>{{ data.level }}</td>
						<td>{{ data.url_route }}</td>
						<td>{{ data.top_level.title }}</td>
						<td><li><a href="{% url 'siteinfo:sp_edit' data.pk %}">Assign/edit sitemap (Advance)</a></li><li><a href="{% url 'siteinfo:sp_del' data.pk %}">Delete sitemap rule</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'overview' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Administration tools</td>
						<td>Operation</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.name }}</strong></td>
						<td><li><a href="{% if data.para %}{% url data.url content.shortcode %}{% else %}{% url data.url %}{% endif %}">Use the tools</a></li></td>
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'announcement' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Content</td>
						{% if content.permission %}
						<td>Operation</td>
						{% endif %}
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.title }}</strong><br/>Announce_date: {{ data.announce_date }}<br/>{{ data.content|linebreaks|urlize }}</td>
						{% if content.permission %}<td><li><a href="{% url 'classroom:announce_del' content.shortcode %}?delete={{ data.pk }}">Delete anouncement</a></li></td>{% endif %}
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'assignment' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Title</td>
						<td>Upload format</td>
						<td>Fullmark</td>
						<td>Deadline date</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.title }}</strong></td>
						<td>{{ data.upload_format }}</td>
						<td>{{ data.fullmark }}</td>
						<td>{{ data.deadline_datetime }}</td>
						<td>
						{% if content.permission %}
						<li><a href="{% url 'classroom:assignment_detail' content.shortcode data.pk %}">Mark assignment</a></li>
						<li><a href="{% url 'classroom:assignment_delete' content.shortcode %}?delete={{ data.pk }}">Delete assignment</a></li>
						</td>
						{% else %}
						<li><a href="{% url 'classroom:assignment_detail' content.shortcode data.pk %}">Assignment detail</a></li>
						<li><a href="{% url 'classroom:assignment_submit' content.shortcode data.pk %}">Submit assignment</a></li>
						{% endif %}
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'material' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>File</td>
						<td>Create date</td>
						<td>Uploader</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.material.path }}</strong></td>
						<td>{{ data.material.create_date }}</td>
						<td>{{ data.material.uploader.user.username }}</td>
						<td>
						{% if content.permission %}
						<li><a href="{% url 'classroom:material_remove' content.shortcode %}?delete={{ data.pk }}">Delete material</a></li>
						</td>
						{% else %}
						<li><a href="{% url 'classroom:assignment_detail' content.shortcode data.pk %}">Download material</a></li>
						{% endif %}
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

	{% if content.list.name == 'note' %}
		<div class="list_table">
			<table>
				<thead>
					<tr>
						<td>Content</td>
					<tr>
				<tbody>
					<tr>
					{% for data in content.list.body %}
						<td><strong>{{ data.note.title }}</strong><br/>
						Publish on: {{ data.note.publish_datetime }} 
						{{ data.note.content|linebreaks|urlize }}
						</td>
						<td>
						{% if content.permission %}
						<li><a href="{% url 'classroom:note_remove' content.shortcode %}?delete={{ data.pk }}">Delete note</a></li>
						</td>
						{% else %}
						<li><a href="{% url 'classroom:assignment_detail' content.shortcode data.pk %}">View note</a></li>
						{% endif %}
					<tr>
					{% endfor %}					
				</tbody>
				
			</table>

		</div>
	{% endif %}

		<div class="page_nav">
			{% if content.page_nav.page %}
			<div class="page_idx">
				<span>
					{% if content.page_nav.page.current_page > 1 %}
					<a href="?page={{ content.page_nav.page.current_page|add:"-1" }}"><</a>
					{% else %}
					<
					{% endif %}
				</span>
				<span>{{ content.page_nav.page.current_page }}</span>
				<span>
					{% if content.page_nav.page.max_page > content.page_nav.page.current_page %}
					<a href="?page={{ content.page_nav.page.current_page|add:1 }}">></a>
					{% else %}
					>
					{% endif %}
				</span>
			</div>
			{% endif %}

			{% if content.page_nav.count and content.page_nav.page %}
			<div class="count">
				<span>Page {{ content.page_nav.page.current_page }} | Total {{ content.page_nav.count }} entries.</span>
			</div>
			{% endif %}

			{% if content.page_nav.message %}
			<div class="bottom_message">
				{{ content.page_nav.message }}
			</div>
			{% endif %}

		</div>


	</form></section>
{% endif %}

{% if template == 'detail' %}
	{% if content.operation %}
		<div class="operation">
		{% for list_item in content.operation %}
			<li><a href="{% if list_item.url_para %}{% url list_item.url list_item.url_para %}{% else %}{% url list_item.url %}{% endif %}" class="{{ list_item.html_class }}">{{ list_item.title }}</a></li>
		{% endfor %}
		</div>
	{% endif %}
	<section class="info_detail">
	{% if content.detail %}
		{% for value in content.detail %}
			<p><strong>{{ value.0 }}</strong></p>
			<p>{{ value.1|linebreaks|urlize }}</p>
		{% endfor %}
	{% endif %}
	{% if content.custom_rule %}
		<h2>Current Rule: {{ content.custom_rule.block1.name }}</h2>
		<ul class='operation_rule'>
			<li class='remove_rule'><a href="{% url 'attendance:remove_rule' content.custom_rule.block1.pk %}">Remove this rule</a></li>
		</ul>
		<ul>
			<li class="priority">Priority: {{ content.custom_rule.block1.priority }}</li>
			<li class="start_time">Start time: {{ content.custom_rule.block1.start_time }}</li>
			<li class="end_time">End time: {{ content.custom_rule.block1.end_time }}</li>
		</ul>
		<h3>Classes applied this rule:</h3>
		<ul class='operation_arule'>
			<li class='apply_arule'><a href="{% url 'attendance:apply_rule' %}">Apply class to the rule</a></li>
		</ul>		
		<ul>
		{% if content.custom_rule.block2.count == 0 %}
			<li>None</li>
		{% else %}
		{% for value in content.custom_rule.block2 %}
			<li>{{ value.class_code.class_name }} 
				<ul>
					<li>From {{ value.start_date }} to {{ value.end_date }}</li>
					<li>{% if value.exclude_weekend %}Exclude Saturday, Sunday{% else %}<strong>NOT</strong> exclude Saturday, Sunday{% endif %}</li>
					<li><a href="{% url 'attendance:remove_arule' value.pk %}" class='remove_arule'>Remove applied</a></li>
				</ul></li>
		{% endfor %}
		{% endif %}
		</ul>

	{% endif %}

	{% if content.detail_user %}
		<h2>User inforation of: {{ content.detail_user.username }} ({{ content.detail_user.lastname }} {{ content.detail_user.firstname }})</h2>
		<ul>
			<li>Sex: {{ content.detail_user.sex_code }}</li>
			<li>SmartCard ID: {{ content.detail_user.card_id }}</li>
			<li>Strn code: {{ content.detail_user.strn_code }}</li>
			<li>SAMS code: {{ content.detail_user.sams_code }}</li>
			<li>Birthday: {{ content.detail_user.birth_date }}</li>
			<li>Address: {{ content.detail_user.address }}</li>
			<li>Contact number: (H) {{ content.detail_user.phone }}, (M) {{ content.detail_user.mobile }}</li>
			<li>email: {{ content.detail_user.email }}</li>
		</ul>
	{% endif %}


	</section>
{% endif %}

{% if template == 'notification' %}
	<section class="notification">
		{% if content.notification %}<h1 class="notification_title">{{ content.notification }}</h1>{% endif %}
		{% if content.auto_redirect %}You will automatically be redirected to <a href="{% if content.redirect_para %}{% if content.redirect_para2 %}{% url content.redirect_url content.redirect_para content.redirect_para2 %}{% else %}{% url content.redirect_url content.redirect_para %}{% endif %}{% else %}{% url content.redirect_url %}{% endif %}">{{ content.redirect_text }}</a> in 5 seconds...<script>setTimeout('window.location="{% if content.redirect_para %}{% if content.redirect_para2 %}{% url content.redirect_url content.redirect_para content.redirect_para2 %}{% else %}{% url content.redirect_url content.redirect_para %}{% endif %}{% else %}{% url content.redirect_url %}{% endif %}"', 5000)</script>{% endif %}
	</section>
{% endif %}

{% if template == 'testing' %}<p>{{ page_title }}</p><p>{{ page_header }}</p><p>{{ content }}</p>{% endif %}

{% if template == "calendar" %}
	{% if content.calendar.body %}
		{{ content.calendar.body|safe }}
	{% endif %}
{% endif %}

{% if template == "classroom" %}
	<section class="classroom">

	{% if content.classroom %}
		<h2>{{ content.classroom.title }}</h2>
		<div class="details">
			<ul>
				<li>Student: {{ content.classroom.count.user_assign_stu }}</li>
				<li>Teacher: {{ content.classroom.count.user_assign_tea }}</li>
				<li>Announce: {{ content.classroom.count.announce }}</li>
				<li>Material: {{ content.classroom.count.material }}</li>
				<li>Assignment: {{ content.classroom.count.assignment }}</li>
				<li>Note: {{ content.classroom.count.note }}</li>
			</ul>
		</div>
		<div class="right_nav">
			<ul>
			{% for item in content.classroom.right_nav %}
				<li><a href="{% url item.url item.url_para %}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="right_notice"></div>
	{% endif %}

	{% if content.assignment %}
		<h2>Assignment detail: {{ content.assignment.title }}</h2>
		<div class="details">
			<ul>
				<li>Submitted: Yes No</li>
				<li><a href="#">submission</a>
				<span class="upload_format">Upload format: {{ content.assignment.content.upload_format }}</span></li>
				<li>Deadline: {{ content.assignment.content.deadline }} ({{ content.assignment.content.deadline_datetime }})</li>
				<li><strong>Instruction: </strong><br/>
				{{ content.assignment.content.instruction|linebreaks|urlize }}</li>

				<li>Fullmark: {{ content.assignment.content.fullmark }}</li>
				<li>Create date: {{ content.assignment.content.create_date }}</li>

			</ul>
		</div>
		<div class="right_nav">
			<ul>
			{% for item in content.classroom.right_nav %}
				<li><a href="{% url item.url item.url_para %}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="right_notice"></div>
	{% endif %}

	</section>
{% endif %}

{% endblock %}</div>